<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- template contains title for each page -->
        <title>Products API Demo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">             
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body class="container">

        <!-- Title and Primary buttons to fetchAll() and fetchById -->
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://cdn.dribbble.com/userupload/7215071/file/original-e2c2d7856bdd52764e6a915c3fe428d5.jpg?compress=1&resize=1504x1128" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold text-body-emphasis">Products API Demo</h1>

            <div class="col-lg-8 mx-auto">
                <p class="lead mb-4">Access to a small postgres database - try modifying a product!</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <!-- Trigger a search box to appear with a search button. -->
                    <button type="button" class="btn btn-warning btn-lg px-4 gap-3">FetchAll()</button>

                    <!-- Trigger a input form to appear with input for a new product. -->
                    <button type="button" class="btn btn-dark btn-lg px-4 gap-3" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">AddProduct()</button>
                </div>
            </div>
        </div>

        <!-- Off screen elements -->
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">/AddProduct(:id)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="addProductForm">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="product title..." required />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="textarea" class="form-control" id="descr" name="descr" placeholder="product description..." required />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="product price..." required />
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

        <!-- page content -->